/*  variables  */
:root {
     // primary colors
    --primary: #1ed760;
    --secondary: #1cc959;
    --success: #168b3f;
    --info: #0d72ea;
    --warning: #ffa42b;
    --danger: #f15e6c;
    --light: #e5e5e5;
    --dark: var(--gray-bolder);
  
  
    // gray colors
    --white: #ffffff;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #b3b3b3;
    --gray-600: #a7a7a7;
    --gray-700: #535353;;
    --gray-800: #343a40;
    --gray-900: #212529;
    --gray-bold: #181818;
    --gray-bolder: #121212;
    --black: #000000;
    
    // gradiengt
    --gradiengt-dark: #00000099;
    --gradiengt-light: #ffffff99;
    //--gradiengt-light: rgba(174, 209, 251, 0.6);
    
    // gray opacity
    --gray-600-opacity: rgba(255, 255, 255, 0.253);
    --gray-700-opacity: #ffffff4d;
    --gray-900-opacity: rgba(255, 255, 255, 0.07);
    --gray-bold-opacity: #d9d9d93d; 
    --black-opacity: #0000008f;
    --white-opacity: #ffffff8f;
    --light-opacity: #ffffffb3;
    
    // gray hover
    --gray-200-hover: #dadada;
    --gray-600-hover: hsla(0, 0%, 100%, 0.342);
    --gray-800-hover: #282828;
    --gray-900-hover: hsla(0,0%,100%,.2);
}


/* semantic color variables for this project */
:root {
    --color-background: var(--white);
    --color-background-soft: var(--light);
    --color-background-mute: var(--white);
    --color-background-off: var(--gray-700);
    --color-background-silent: var(--gray-600-opacity);
    --color-background-box: var(--white-opacity);
    
    --color-background-mute-hover: var(--gray-200-hover);
    --color-background-silent-hover: var(--gray-600-hover);

    --color-border: var(--light);
    --color-border-hover: var(--gray-100);
    
    --color-text: var(--dark);
    --color-text-opacity: var(--black-opacity);

    --color-linear-gradient: var(--gradiengt-light);
    --color-scrollbar: var(--gradiengt-dark);


}


@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var( --black);
        --color-background-soft: var(--dark);
        --color-background-mute: var(--gray-bold);
        --color-background-off: var(--gray-500);
        --color-background-silent: var(--gray-900-opacity);
        --color-background-box: var(--black-opacity);

        --color-background-mute-hover: var(--gray-800-hover);
        --color-background-silent-hover: var(--gray-900-hover);
        
        --color-border: var(--dark);
        --color-border-hover: var(--gray-700);
        
        --color-text: var(--white);
        --color-text-opacity: var(--light-opacity);

        --color-linear-gradient: var(--gradiengt-dark);
        --color-scrollbar: var(--gray-700-opacity);
    }
}

  

:root {
    --background-noise: url('src/assets/img/bg-transparente.svg');
    --column-count: 4;
}

  

/* Breakpoint prefix	Minimum width	CSS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... } */