@tailwind base;
@tailwind components;
@tailwind utilities;

@import './utils/fonts.scss';
@import './utils/_variables.scss';
@import './utils/buttom.scss';



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Proxima-nova-regular';
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
}
